.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  margin-top: 48px;
  cursor: pointer;
  border-radius: 16px;
}

.message {
  color: white;
  font-size: "20px";
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
